.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:120px;
    height:18px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    font-size:14px;
    border:none;
    width:120px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    padding:1px;
    font-size:12px;
    border:none;
}
.select-editable select:focus,
.select-editable input:focus { outline:none; }


.msg_error {
    padding: 10px;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    font-family: "Courier New";
}